src/main/mule/github-actions-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="18023ea0-2e2f-4418-8eae-96f202da384d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-actions-demoFlow" doc:id="49af1ca1-babf-4856-b350-92ec6a9f9b65" >
		<http:listener doc:name="Listener" doc:id="9f46d96f-82b5-44a7-b736-f2e5e68ce0b8" config-ref="HTTP_Listener_config" path="/demo-github"/>
		<ee:transform doc:name="Transform Message" doc:id="184b286f-f6b1-4df0-92eb-061eb3025d0d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Github Actions"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6956e289-f5c9-438f-b098-61e9913ed1fe" message="#[payload]"/>
	</flow>
</mule>
